/* estilo de las tarjetas */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    margin: 20px;
    min-height: 425px;
    max-width: 300px;
  }
  
  .card-img-top {
    width: 280px !important;
    height: 15vw;
    object-fit: cover;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.671);
  }