/* estilo de las tarjetas */
.card {
  box-shadow: 0 4px 8px 0 
  rgba(0, 0, 0, 0.2);
  text-align: center;
  flex-direction: row;
  width: 100%;
  margin: 10px 0; 
}

  
.card-img-top, .loadingCard {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  background-position: center;
  background-repeat: no-repeat;
}
.card-img-top {
  height: 100%;
  background-size: cover;
}

.card-img-top:hover{
  cursor: pointer;
}

.loadingCard {
  background-image: url('../resources/images/loading.gif');
  background-size: contain;
}
  
  /* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.671);
}

.colapsableBackground {
  background-color: rgba(51, 255, 0, 0.336);    
}

.colapsableText {
  background-color: #29c1f2c9;
  border-radius: 15px;
  font-size: 23px;
}