.listaCartas{
    overflow: scroll;
    scrollbar-width: none;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 100px;
    min-height: 300px;
    word-wrap: break-word;
    background-color: #ffff;
    background-clip: border-box;
    max-width: 100%; 
    max-height: 550px;
    margin: 20px auto 100px -10px;
    background: transparent;
    }
